.container {
  width: 100%;
  padding: 16px 0 40px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    justify-content: end;
    gap: 24px;
  }
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 56px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  @media (min-width: 768px) {
    width: 150px;
    padding: 0 6px;
  }
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: #7b61ff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  color: #fff;
  font-size: 24px;
}
