.form {
  display: block;
  padding: 40px 16px;
  background-color: #ffffff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  border-radius: 8px;
}

.form label {
  display: block;
  color: #7b61ff;

  font-size: 16px;

  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}

.form input,
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid var(--divider, #aca7c3);
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 20px;
}
.form textarea {
  height: 156px;
}

.btnBox {
  padding-top: 20px;
}
.submit {
  display: block;
  border-radius: 8px;
  background: #7b61ff;
  box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  color: #ffffff;
  width: 240px;
  height: 56px;
}
